/* Style par défaut du lien */
/* Style par défaut du lien */
.carteContact {
  /* Autres styles ici */
  color: black; /* Couleur par défaut */
  transition: color 0.3s ease-in-out; /* Animation de transition pour une couleur fluide */
}

/* Style au survol du lien */
.carteContact:hover {
  color: #dd7893; /* Couleur au survol */
}

.carteCentrer {
  width: 90%; /* Ajustez la largeur de la carte selon vos préférences */
  margin: 0 auto; /* Centre la carte horizontalement */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 81vh; /* Ajustez la hauteur minimale selon vos préférences */
}

/* Styles pour les petits écrans (téléphones) */
@media (max-width: 460px) {
  .carteCentrer {
    width: 80%; /* Ajustez la largeur de la carte selon vos préférences */
  }
  .h3 {
    font-size: "1rem";
  }
}

/* Styles par défaut */
.hide-on-mobile {
  display: block; /* Affichage par défaut pour les écrans non mobiles */
}
.mail-debut {
  display: none;
}
.mail-fin {
  display: none;
}
.mail-entier {
  display: block;
  margin-left: 0.3rem;
}
.nom-git,
.nom-linke {
  margin-left: 0.6rem;
}

.saut-de-ligne {
  display: none;
}
/* Styles pour les petits écrans (téléphones) */
@media (max-width: 480px) {
  .hide-on-mobile {
    display: none; /* Masquer sur les écrans de téléphone */
  }
  .mail-entier {
    display: none;
  }
  .mail-debut {
    display: block;
    margin-left: 0.3rem;
  }
  .mail-fin {
    display: block;
    margin-left: 0.3rem;
  }
  .saut-de-ligne {
    display: block;
  }
}

a {
  text-decoration: none; /* Enlève le soulignement du lien */
}

.card {
  position: relative;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card-header {
  font-size: 1.5rem;
}

.card-content {
  padding: 0.75rem;
  flex-grow: 1;
  margin-left: 0.25rem;
}

.card-content p {
  margin: 0;
}

.carte-contact-texte {
  text-align: left;
  padding: 0 2rem;
}

.carte-contact-general {
  border: 3px solid #380613;
  border-radius: 0.5rem;
  padding-top: 1rem; /* Ajoute un padding en haut de 1 rem */
  padding-bottom: 1rem; /* Ajoute un padding en bas de 1 rem */
}
