/* Styles pour le texte à rendre invisible sur les téléphones */
@media (max-width: 768px) {
  .text-ordi {
    display: none;
  }
}

.footer {
  min-height: 3rem;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  background-color: #380613;
  color: white;
}

.text-ordi {
  margin-left: 3px;
}

.text-modif {
  margin-left: auto;
  margin-right: 3px;
}
