#accueil-link-mobile:hover,
#projets-link-mobile:hover,
#cv-link-mobile:hover,
#contact-link-mobile:hover,
#accueil-link-ordi:hover,
#projets-link-ordi:hover,
#cv-link-ordi:hover,
#contact-link-ordi:hover {
  color: #dd7893; /* Couleur du texte au survol et pour le bouton actif */
  font-weight: bold;
}

#accueil-link-mobile.active,
#projets-link-mobile.active,
#cv-link-mobile.active,
#contact-link-mobile.active,
#accueil-link-ordi.active,
#projets-link-ordi.active,
#cv-link-ordi.active,
#contact-link-ordi.active {
  color: #dd7893; /* Couleur du texte au survol et pour le bouton actif */
  font-weight: bold;
}

#accueil-link-mobile,
#projets-link-mobile,
#cv-link-mobile,
#contact-link-mobile {
  display: none;
}
#accueil-link-ordi,
#projets-link-ordi,
#cv-link-ordi,
#contact-link-ordi {
  margin-left: auto;
}

@media (max-width: 578px) {
  #accueil-link-mobile,
  #projets-link-mobile,
  #cv-link-mobile,
  #contact-link-mobile {
    display: block;
  }

  #accueil-link-ordi,
  #projets-link-ordi,
  #cv-link-ordi,
  #contact-link-ordi {
    display: none;
  }
}

@media (max-width: 360px) {
  .navbar-logo {
    display: none;
  }
  .navbar-brand {
    display: none;
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  background-color: #380613;
  color: white;
  align-items: center;
  padding: 0 0.5rem;
  height: 80px;
  line-height: 3.3rem;
  top: 0;
  left: 0;
  right: 0;
}
@media (max-width: 578px) {
  .navbar {
    height: 100px;
  }
}

.navbar-logo {
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  padding-right: 10px;
  padding-left: 10px;
}

.navbar-logo a {
  text-decoration: none; /* Supprime le soulignement du lien */
}

/* Styles pour la classe .navbar-menu */
.navbar-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 600; /*Pour mettre en gras*/
  color: var(--text-light-3); /* Utilisez la couleur souhaitée */
  margin: 0;
  padding: 0;
}

@media (max-width: 578px) {
  .navbar-menu {
    display: block;
  }
}

/* Styles pour le lien .navbar-brand (votre logo) */
.navbar-brand {
  text-align: center; /* Centre le texte horizontalement */
}

/* Styles pour l'image */
.navbar-brand img {
  display: flex; /* Pour éviter l'espace sous l'image */
  justify-content: center; /* Centre horizontalement */
  max-width: 100px; /* Ajustez cette valeur selon votre besoin */
  max-height: 65px; /* Ajustez cette valeur selon votre besoin */
  padding: 3px 0; /* Ajoute de l'espacement autour de l'image */
}

.navbar-link {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0 0.6rem;
  transition: background-color 0.23s ease;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .navbar-link {
    padding: 0 0.4rem;
  }
}
