/* Style par défaut du chemin du SVG */
.lienProjet svg path {
  fill: black; /* Couleur par défaut */
  transition: fill 0.3s ease-in-out; /* Animation de transition pour une couleur fluide */
}

/* Style au survol du lien .lienProjet */
.lienProjet:hover svg path {
  fill: #dd7893; /* Couleur au survol */
}
